.nav {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 560px;
    grid-area: btn;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: top;
}

.title-div {
    display: flex;
    flex-direction: column;
    background-image: url('./images/Webp.net-resizeimage.jpg');
    background-repeat: no-repeat;
    height: 300px;
    background-position: center;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.rover-button {
    height: 50px;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgb(0, 0, 44);;
    color: white;
    outline: none;
    font-size: 16px;
    /* margin-top: 280px; */
}

.rover-button:active {
    outline: none;
    color: rgb(0, 0, 151);
}

.rover-button:hover {
    cursor: pointer;
    background-color:rgb(0, 0, 151);
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: center;
}

#chart-display-button {
    color: white;
    background-color: rgb(0, 0, 44);
    justify-content: center;
    justify-self: center;
    width: 300px;
    height: 50px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 16px;
    outline: none;
    margin-top: 25%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;

}

#chart-display-button:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 151);
    outline: none
}