#earth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "ein ein"
        "eim ed";
}

.earth-info {
    grid-area: ein;
}

.earth-img {
    grid-area: eim;
    object-fit: scale-down;
    display: flex;
    justify-content: center;
    align-items: center;
}

#earth-data {
    grid-area: ed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.event-list {
    height: 100%;
    width: 100%;
}

.event-item {
    list-style: none;
    height: 50px;
}
