#earth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "ein ein"
        "eim ed";
}

.earth-info {
    grid-area: ein;
    color: white;
    font-size: 20px;
    width: 100%;
    margin: 5%;
    line-height: 1.5;
}

.earth-img {
    grid-area: eim;
    object-fit: scale-down;
    display: flex;
    justify-content: center;
    align-items: center;
}

#earth-data {
    grid-area: ed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.event-list {
    height: 100%;
    width: 100%;
}

.event-item {
    display: flex;
    list-style: none;
    height: 40px;
    background-color: rgb(0, 0, 44);
    width: 400px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: white;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}


a {
    text-decoration: none !important;
    color: white;
}

.event-item:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 151);
    outline: none
}

.event-title {
    font-size: 18px;
}