.body {
   display: grid;
   grid-template-areas: "nav mn";
   margin: 0px;
}

main {
    background-color: black;
    margin: 0px;
}
html {
    background-color: black;
    margin: 0px;
}

nav {
    position: fixed;
    height: 100vh;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-self: left;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: black;
    border-right: 1px solid white;
    grid-area: nav
}

.wrapper {
    height: 100%;
    width: (100% - 100px);
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    flex-wrap: wrap;
    grid-area: mn;
    overflow: hidden;
}

.title {
    text-align: center;
    color: white;
}

.planet {
    height: 100vh;
    width: 90%;
}

.stock-intro {
    grid-area: int;
}

.stock-info {
    grid-area: inf;
}

.stock-img {
    object-fit: scale-down;
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mercury {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "int int"
        "img inf";
}

#venus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "int int"
        "inf img";
}

#saturn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "int int"
        "img inf";
}

#jupiter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "int int"
        "inf img";
}

#uranus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "int int"
        "img inf";
}

#neptune {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "int int"
        "inf img";
}

#pluto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "int int"
        "img inf";
}
img {
    height: 75%;
    width: 75%;
}