.body {
   display: grid;
   grid-template-areas: "nav mn";
   margin: 0px;
   overflow: hidden;
}

main {
    background-color: black;
    margin: 0px;
}
html {
    background-color: black;
    margin: 0px;
}

nav {
    position: fixed;
    height: 100vh;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-self: left;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: black;
    border-right: 1px solid white;
    grid-area: nav
}

.wrapper {
    height: 100%;
    width: (100% - 100px);
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    flex-wrap: wrap;
    grid-area: mn;
    overflow: hidden;
}

.title {
    text-align: center;
    color: white;
}

.planet {
    height: 100vh;
    width: (100vw - 100px);
    margin-left: 100px;
    overflow: hidden;
    margin: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "int int"
        "img inf";
}

.stock-intro {
    grid-area: int;
}

.stock-intro > p {
    width: 85%;
}

.stock-info {
    grid-area: inf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stock-img {
    object-fit: scale-down;
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 75%;
    width: 75%;
}

.nav-anchor {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
}

#wlcm {
    background-image: url('./images/milky-way-icon.jpg');
}

#merc {
    background-image: url('./images/mercury-icon.png');
}

#ven {
    background-image: url('./images/venus-icon.png');
}

#eart {
    background-image: url('./images/earth-icon.png');
}

#mar {
    background-image: url('./images/mars-icon.png');
}

#sat {
    background-image: url('./images/saturn-icon.png');
}

#jup {
    background-image: url('./images/jupiter-icon.jpg');
}

#ura {
    background-image: url('./images/uranus-icon.png');
}

#nep {
    background-image: url('./images/neptune-icon.png');
}

#plu {
    background-image: url('./images/pluto-icon.png');
}

.title {
    color: white;
    font-size: 20px;
    width: 100%;
    margin: 5%;
    line-height: 1.5;
}
.info-table {
    color: white;
    font-size: 20px;
    width: 100%;
    margin: 5%;
    line-height: 1.5;
    padding: 20px;
}

.stock-intro {
    color: white;
    font-size: 20px;
    width: 100%;
    margin: 5%;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}