.html {
    background-color: black;
    height: 100%;
}
#mars-display {
    display: flex;
    overflow-y: hidden;
    overflow: scroll;
    height: 520px;
    background-color: black;
}

#mars-display > img {
    padding: 10px;
}

.rover-image {
    height: 500px;;
    width: 100%;
}

