.html {
    background-color: black;
    height: 100%;
}

#mars-display {
    display: none;
    flex-direction: row;
    overflow-y: hidden;
    overflow: scroll;
    height: 560px;
    width: 100%;
    background-color: black;
    grid-area: rvp;
}

#mars-display > img {
    padding: 10px;
}

.rover-image {
    height: 540px;;
    width: 100%;
}

#manifest-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 550px;
}

.manifest {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.photo-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.manifest-data {
    color: white;
}

#rover-name {
    font-size: 24px;
}

.input-label {
    color: white;
}

.sol-input {
    color: white;
}