.html {
    background-color: black;
    height: 100%;
}

.mars-div {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#mars-header {
    margin-top: 20px;
    height: 60px;
}
#mars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: (100vw - 100px);
    overflow: hidden;
}

#mars-display {
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 40%;
    background-color: black;
    justify-content: center;
    margin: 20px;
    overflow: scroll;
}

#mars-display > img {
    padding: 10px;
}

.rover-image {
    height: 350px;
    width: 100%;
}

#manifest-display {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#chart-display {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 0px;
    margin-right: 20px;
}

.manifest {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.photo-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.manifest-data {
    color: white;
}

#rover-name {
    font-size: 24px;
}

.input-label {
    color: white;
}

.rover-cam {
    color: white;
}