.html {
    background-color: black;
    height: 100%;
}

#mars {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: (100vw - 100px);
}

#mars-display {
    display: none;
    flex-direction: column;
    overflow-y: hidden;
    overflow: scroll;
    height: 100vh;
    width: 35%;
    background-color: black;
    justify-content: center;
}

#mars-display > img {
    padding: 10px;
}

.rover-image {
    height: 350px;
    width: 100%;
}

#manifest-display {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* grid-template-rows: 1fr 1fr 1fr; */
    justify-content: center;
}

#chart-display {
    width: 65%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 15%;
}

.manifest {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.photo-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.manifest-data {
    color: white;
}

#rover-name {
    font-size: 24px;
}

.input-label {
    color: white;
}

.sol-input {
    color: white;
}