.html {
    background-color: black;
    height: 100%;
}
#mars-display {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow: scroll;
    height: 560px;
    width: 100%;
    background-color: black;
    grid-area: rvp;
}

#mars-display > img {
    padding: 10px;
}

.rover-image {
    height: 540px;;
    width: 100%;
}

