.chart-side-display {
    grid-area: wtn;
    color: white;
}
.chart-display {
    grid-area: wtc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 330px;
}


